body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #5a5a5a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  font-size: 1vw;

}

code {
  font-family: "Lato", sans-serif;
  color: #5a5a5a;
}
